@charset "utf-8";
/* CSS Document */

/*my.html*/
#myCom{ margin-top: 30px;}
#myCom .comIn{ overflow:hidden;}
#myCom .comIn .inL{ width:208px; border:1px solid #ebebeb;}
#myCom .comIn .inL .lcon{ overflow:hidden;}
#myCom .comIn .inL .lcon .tit{ font-size: 20px; color:#000; padding-left: 20px; height:50px; line-height: 50px; background-color:#ebebeb;}
#myCom .comIn .inL .lcon ul{ padding:18px 0; background-color: #fff;}
#myCom .comIn .inL .lcon ul li{ line-height: 30px; }
#myCom .comIn .inL .lcon ul li a{ font-size: 14px; display:block;padding-left: 60px;}
#myCom .comIn .inL .lcon ul li a:hover,#myCom .comIn .inL .lcon ul li.cur a{ color:#EF2C71;}
#myCom .comIn .inR{ width:850px; padding-left: 30px;}
#myCom .comIn .inR .rCon .hdTit{ font-size: 14px;}
#myCom .comIn .inR .rCon .hdTit a:hover{ text-decoration: underline;}
#myCom .comIn .inR .rCon .hdTit i.arrow{ background-position: -4px -90px; width:8px; height:9px; margin:0 5px;}
#myCom .comIn .inR .rCon .hdTit i.arrow2{  background-position: -20px -90px;}
#myCom .comIn .inR .rCon .mainCon{ overflow:hidden; margin-top: 20px;}
#myCom .comIn .inR .rCon .mainCon .face{ overflow:hidden;}
#myCom .comIn .inR .rCon .mainCon .face a{ display:block; width:100px; height:100px;}
#myCom .comIn .inR .rCon .mainCon .face a img{ width:100%; height:100%;}
#myCom .comIn .inR .rCon .mainCon .face .txt{ margin-left: 20px;}
#myCom .comIn .inR .rCon .mainCon .face .txt .wel{ color:#007dd2; font-size: 20px;}
#myCom .comIn .inR .rCon .mainCon .face .txt p{ color:#999; line-height: 28px;}
#myCom .comIn .inR .rCon .ordCon{ padding:20px 15px; margin:20px 0; border:1px solid #ebebeb;}
#myCom .comIn .inR .rCon .ordCon .remind .tit{ color:#191516; font-size: 14px;}
#myCom .comIn .inR .rCon .ordCon .remind ul{ overflow:hidden; margin-top: 6px;}
#myCom .comIn .inR .rCon .ordCon .remind ul li{float:left; margin-right: 25px;}
#myCom .comIn .inR .rCon .ordCon .remind ul li a{ display:block; font-size: 14px; color:#888;}
#myCom .comIn .inR .rCon .ordCon .remind ul li a:hover em{text-decoration: underline;}
#myCom .comIn .inR .rCon .ordCon .remind ul li a span{ margin-right: 0px;}
#myCom .comIn .inR .rCon .ordCon .remind ul li em{padding:0 2px; }
#myCom .comIn .inR .rCon .ordCon .remind ul li.have em{ color:#EF2C71;font-weight: 600;}
#myCom .comIn .inR .rCon .ordCon .mes{ margin-top: 20px;}
#myCom .comIn .inR .rCon .ordCon .mes ul li{ margin-right: 110px;}

/*my-order.html*/
.ordR .tabHd{}
.ordR .tabHd ol{ overflow:hidden; background-color:#ebebeb;}
.ordR .tabHd ol li{ float:left; width:169px; border-right: 1px solid #fff; height:50px; line-height: 50px; text-align: center; position:relative;}
.ordR .tabHd ol li a{ display:block; font-size:18px; background-color:#ebebeb;}
.ordR .tabHd ol li a span{ margin-right: 5px;}
.ordR .tabHd ol li a em{ padding:0 2px;}
.ordR .tabHd ol li.cur a{ background-color:#ef2c71; color:#fff;}
.ordR .tabHd ol li.cur .arrBot{ background-position: -25px -88px; width:12px; height:8px; position:absolute; bottom:0; left:50%; margin-left:-6px; z-index: 11;}
.ordR .tabBd{ border-bottom: 1px solid #ebebeb;}
.ordR .tabBd .com .comTit{ height:40px; line-height: 40px; color:#191919;}
.ordR .tabBd .com .comTit span{ display:inline-block; font-size: 14px;}
.ordR .tit01{ width:215px; padding-left: 35px;}
.ordR .tit02{ width:130px;}
.ordR .tit03{ width:130px;}
.ordR .tit04{ width:150px;}
.ordR .tit05{ width:174px;}
.ordR .listCon{ overflow:hidden;}
.ordR .listCon ul{overflow:hidden; height:auto; }
.ordR .listCon ul li{ height:625px; overflow:hidden;}
.ordR .listCon ul li .listItem{ height:94px;border-bottom: 1px solid #ebebeb; padding:15px 0;}
.ordR .listCon ul li .listItem .hd{ margin-left: 35px; margin-bottom: 15px;}
.ordR .listCon ul li .listItem .hd .time{ color:#000; margin-right: 10px;}
.ordR .listCon ul li .listItem .bd{ overflow:hidden;}
.ordR .listCon ul li .listItem .bd .con01{width:215px; padding-left: 35px; overflow:hidden;}
.ordR .listCon ul li .listItem .bd .con01 a{ width:60px; height:60px; display:inline-block; margin-right: 12px;}
.ordR .listCon ul li .listItem .bd .con01 a img{ width:100%; height:100%;}
.ordR .listCon ul li .listItem .bd .con01 p span{ display:block;}
.ordR .listCon ul li .listItem .bd .con01 p .sp01{ font-size: 14px; line-height: 30px;}
.ordR .listCon ul li .listItem .bd .con01 p .sp02{ color:#999;}
.ordR .listCon ul li .listItem .bd .con02{ width:130px;}
.ordR .listCon ul li .listItem .bd .con02 span,.listCon ul li .listItem .bd .con02 del{ display:block; line-height: 15px;}
.ordR .listCon ul li .listItem .bd .con02 .sp01{ margin-top:10px; }
.ordR .listCon ul li .listItem .bd .con02 .sp02,.listCon ul li .listItem .bd .con02 del{ color:#999;}
.ordR .listCon ul li .listItem .bd .con03{ width:130px;}
.ordR .listCon ul li .listItem .bd .con03 span,.listCon ul li .listItem .bd .con04 span{ margin-top: 30px; margin-left: 20px; }
.ordR .listCon ul li .listItem .bd .con04{ width:150px;}
.ordR .listCon ul li .listItem .bd .con05{ width:174px;}
.ordR .listCon ul li .listItem .bd .con05 p{ margin-left: 15px;margin-right: 35px;}
.ordR .listCon ul li .listItem .bd .con05 p a{ display:block; line-height: 22px; cursor: pointer;}
.ordR .listCon ul li .listItem .bd .con05 p a:hover{ color:#000; text-decoration: underline;}
.ordR .listCon ul li .listItem .bd .con05 .btn{ width:62px; height:28px; line-height: 28px; border-radius: 13px; background-color: #ef2c71;  color:#fff; text-align: center;  margin-top:8px;}
.pages { margin: 20px auto 0; overflow: hidden; float: right; }
.pages #Pagination { float: left; overflow: hidden; }
.pages #Pagination .pagination { overflow: hidden; text-align: right; }
.pages #Pagination .pagination a, .pages #Pagination .pagination span { float: left; display: inline; padding: 4px 8px; border: 1px solid #e6e6e6; border-right: none; background: #f6f6f6; color: #666666; cursor: pointer; }
.pages #Pagination .pagination .current { background: #EF2C71; color: #fff; }
.pages #Pagination .pagination .prev, .pages #Pagination .pagination .next {float: left;border: 1px solid #e6e6e6; background: #f6f6f6;color: #666666; }
.pages #Pagination .pagination .prev { border-right: none; }
.pages #Pagination .pagination .pagination-break { border: none; border-left: 1px solid #e6e6e6; background: none; cursor: default; }
.pages .searchPage { float: left; padding: 2px 0; }
.pages .searchPage .page-sum { padding: 5px 13px; }
.pages .searchPage .page-go { padding: 2px 0; }
.pages .searchPage .page-go input { width: 21px; height: 20px; margin: 0 5px; padding-left: 5px; border: 1px solid #e4e4e4; }
.pages .searchPage .page-btn { margin: 9px 0 5px 5px; padding: 2px 5px; background: #FA2028; border-radius: 2px; color: #ffffff;text-decoration: none; }

/*my-orderDetails.html*/
.ordDet{ margin-top: 30px; overflow:hidden;}
.ordDet .detIn .hdTit{ font-size: 14px;} 
.ordDet .detIn .hdTit i.arrow{ width:8px; height:9px; background-position: -4px -90px; margin:0 5px;}
.ordDet .detIn .hdTit i.arrow2{ background-position: -20px -90px;}
.inCon{ margin-top: 30px;}
.inCon .conL{ width:325px; }
.inCon .conL .inf{ border:1px solid #ebebeb; background-color: #f2f8f7;}
.inCon .conL .inf h5{ height:46px; line-height: 46px; padding-left: 10px; background-color: #aaa; font-size: 20px; color:#fff; margin-left: -1px; width:315px;}
.inCon .conL .inf .bd{ padding:15px 10px;}
.inCon .conL .inf .bd .txt{ margin-bottom: 20px;}
.inCon .conL .inf .bd .txt h6{ color:#0f0106; font-size: 14px; margin-bottom: 10px;}
.inCon .conL .inf .bd .txt p{ color:#999; line-height: 22px; font-size: 14px;}
.inCon .conL .inf .bd .ordOth{ padding-top: 15px; border-top: 1px solid #ccc;}
.inCon .conL .inf .bd .ordOth p{ color:#464646; line-height: 24px; font-size: 14px;}
.inCon .conL .inf .bd .wlOth{ padding-top: 0; border-top: 0;}
.inCon .conR{ margin-left: 30px; width:745px;}
.inCon .conR .rIn{ padding:20px; border: 1px solid #EBEBEB;}
.inCon .conR .rIn .tit p{ color:#007dd2; display:inline-block;}
.inCon .conR .rIn .tit .state{ font-size: 20px; margin-right: 20px;}
.inCon .conR .rIn .tit .time{ font-size: 14px;}
.inCon .conR .rIn .inHd{ padding-bottom: 20px;}
.inCon .conR .rIn .bd{ margin: 25px 0 20px; overflow:hidden;}
.inCon .conR .rIn .bd .pic{ margin-right: 25px;}
.inCon .conR .rIn .bd .pic a{ width:100px; height:100px; display:block;}
.inCon .conR .rIn .bd .pic a img{ width:100%; height:100%;}
.inCon .conR .rIn .bd .txt p{ margin-bottom: 5px; font-size: 14px;}
.inCon .conR .rIn .inbd{ padding-top: 40px; border-top: 1px solid #EBEBEB; overflow:hidden; color:#999;}
.inCon .conR .rIn .inbd .pri{ overflow:hidden;}
.inCon .conR .rIn .inbd .pri .iL .coupon{ font-size: 20px; margin-top: 5px;}
.inCon .conR .rIn .inbd .pri .iR .payment{ font-size: 20px; margin-bottom: 5px;}
.inCon .conR .rIn .inbd .pri .iR .payment em{ color:#fe7747;}
.inCon .conR .rIn .inbd .wlTrack{ margin-top: 40px;}
.inCon .conR .rIn .inbd .wlTrack .tit{ font-size:14px; color:#0d0c0c;vertical-align:top; }
.inCon .conR .rIn .inbd .wlTrack .tit .pos{ background-position: -40px -84px; width:17px; height:19px; margin-right: 5px;}
.inCon .conR .rIn .inbd .wlTrack ul { margin-top: 5px; overflow:hidden;}
.inCon .conR .rIn .inbd .wlTrack ul li p{ color:#999; line-height: 24px;}
.inCon .conR .rIn .inbd .wlTrack ul li p span{ margin-right: 7px;}

/*my-works.html*/
.picCon{ overflow:hidden; height:auto; position:relative; }
.picCon ul{ overflow:hidden; padding:20px; height:auto;}
.picCon ul li{ overflow:hidden;}
.picCon ul li .listItem{ overflow:hidden; float:left; margin-right: 65px; margin-top: 40px; position:relative;}
.picCon ul li .listItem .delTip {position:absolute; left:0; top:0; z-index: 8888; width:100%; height:100%;background-color: rgba(0,0,0,0.5); display:none;}
.picCon ul li .listItem .delTip .in{ }
.picCon ul li .listItem .delTip .in  p{text-align: center; margin-top: 10px; color:#fff; margin-top: 100px;}
.picCon ul li .listItem .delTip .in .judge{ text-align: center; margin-top:15px;}
.picCon ul li .listItem .delTip .in .judge span{width:52px; height:24px; line-height:24px; text-align:center; display:inline-block; cursor:pointer; border-radius: 4px; }
.picCon ul li .listItem .delTip .in .judge span.yes{ color:#fff; background-color: #ff4200;margin-right: 10px;}
.picCon ul li .listItem .delTip .in .judge span.no{ color:#666;background-color: #fff; }
.picCon ul li .listItem .pic { padding:10px; display:block; border: 1px solid #fff; border-bottom: 0; position:relative;}
.picCon ul li .listItem.cur  .pic{ border-color: #ccc; }
.picCon ul li .listItem .pic .tp{ width:178px; height:189px; overflow:hidden; position:relative; display:block;}
.picCon ul li .listItem .pic img{ margin:0 auto; position:absolute; left:50%; top:50%; transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);width:140px; height:190px;}
.picCon ul li .listItem  .operate{ position:absolute; left:0; bottom:48px;width:100%; height:40px; line-height: 40px;background-color:rgba(0,0,0,0.2); }
.picCon ul li .listItem .operate span{ color:#000; font-size: 14px;}
.picCon ul li .listItem .operate .preview{ margin-left: 10px;float:left;cursor:pointer;}
.picCon ul li .listItem .operate .edit{ margin-left: 3px;float:left; cursor:pointer; }
.picCon ul li .listItem .operate .del{ float:right; margin-right: 3px;cursor:pointer;  }
.picCon ul li .listItem .operate{ display:none; }
.picCon ul li .listItem.cur .operate{ display:block; }
.picCon ul li .listItem .txt p{ color:#666; font-size: 14px; line-height: 24px;}
.bigWrap{ width:100%; height:100%; position:fixed; left:0; top:0;  background-color: rgba(0,0,0,0.5); z-index: 55;}
.wrapIn{ width:650px; height:530px; padding:10px 50px; background-color: #fff;border-radius: 10px; position:absolute; left:50%; top:50%; margin-top: -250px; margin-left: -375px; }
.bigWrap .bigTp{ overflow:hidden; width:100%; height:100%;}
.bigWrap .bigTp li{ text-align: center; width:100%; height:100%; position:relative;}
.bigWrap .bigTp li .tp{ text-align: center; overflow:hidden; display:block; width:100%; height:100%;}
.bigWrap .bigTp li .tp img{ display:inline-block; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);}
.bigWrap .close{ width:30px; height:30px; background: url(../img/img-my/close.png) no-repeat; position:absolute; right:15px; top:10px; z-index: 3; cursor:pointer;}
.bigWrap .dire span{ position:absolute; left:0; top:0; z-index: 2; width:70px; height:60px; top:50%; margin-top:-30px;  cursor:pointer;}
.bigWrap .dire span.prev{ left:0px;}
.bigWrap .dire span.next{ left:auto; right:0px;}
.bigWrap .dire span i{ background-repeat: no-repeat; background-size: contain; width:34px; height:58px; display:block; position:absolute; top:50%; margin-top: -29px;margin-left: 23px; display:block;}
.bigWrap .dire span.prev i{ background-image:url(../img/img-my/left.png); }
.bigWrap .dire span.next i{ background-image:url(../img/img-my/right.png); }

/*my-coupon.html*/
.ordR2 .tit01{ width:200px; padding-left: 10px;}
.ordR2 .tit02{ width:120px;}
.ordR2 .tit03{ width:75px;}
.ordR2 .tit04{ width:215px;}
.ordR2 .tit05{ width:125px;}
.ordR2 .tit06{ width:55px;}
.infCon ul li{overflow:hidden; height:400px;}
.infCon ul li .listItem{ height:65px; line-height: 65px; border-bottom: 1px solid #ebebeb;}
.infCon ul li .listItem span{ display:inline-block;}
.infCon ul li .listItem span.tit06 a{ color:#EC1212;}
.infCon ul li .listItem span.tit06 a:hover{text-decoration: underline;}
.couponExp{ margin-top: 100px; color:#007dd2;}
.couponExp h6,.couponExp p{  color:#007dd2; line-height: 24px;}

/*my.message.html*/
.mesTit{ height:50px; line-height: 50px; background-color: #c8c8c8;}
.mesTit h5{ color:#3A3A3A; padding-left: 15px; font-size: 18px;}
.mesCon{ margin-top: 20px;} 
.mesCon ul{}
.mesCon ul li{ overflow:hidden;  position:relative;}
.mesCon ul li.bt0 .item{border-top: 0;}
.mesCon ul li .item{ display:block; overflow:hidden;padding:12px 40px; height:40px;border: 1px solid #ebebeb; }
.mesCon ul li .item .p1{ font-size: 14px; color:#666; margin-bottom: 4px;}
.mesCon ul li .item .p1 span{ margin-right: 10px;}
.mesCon ul li .item .p2 span{ color:#999; white-space:nowrap;text-overflow:ellipsis; overflow:hidden; display:inline-block; width:750px;}
.mesCon ul li .item .arrR{ width:11px; height:19px; background-position: -68px -85px; position:absolute; right:20px; top:23px;}
.mesCon ul li .singleCheck{position:absolute; left:13px; top:26px;}
.mesCon ul li .singleCheck input{ width:14px; height:14px; padding:5px;}
.mesCon .ulbd{ height:50px; line-height:50px;}
.mesCon .ulbd .operate{ margin-left: 14px; overflow:hidden;}
.mesCon .ulbd .operate div{ display:inline-block; margin-right: 10px; cursor:pointer;}
.mesCon .ulbd .operate .allCheck input{ width:14px; height:14px; margin-right: 5px; cursor:pointer;vertical-align:sub;}
.mesCon .ulbd .operate .allCheck label{ cursor:pointer; }
.mesCon .ulbd .operate .del{ background-color: #a7a7a7; color:#fff; width:50px; line-height: 24px; text-align: center; border-radius: 12px;}

/*my-potraint.html*/
.porNameCon{ margin-top: 20px;}
.porNameCon .por{ overflow:hidden;}
.porNameCon .por .pic{ width:120px; height:120px;  overflow:hidden;}
.porNameCon .por .pic img{ width:100%; height:100%; display:block;}
.porNameCon .por .txt{ display:inline-block; margin-left: 30px; margin-top: 40px;}
.porNameCon .por .txt .chg{ position:relative; height:30px;display:block;}
.porNameCon .por .txt .chg label,.porNameCon .por .txt .chg input{width:70px; height:30px; position:absolute; left:0; top:0; cursor:pointer;}
.porNameCon .por .txt .chg input{ opacity: 0;}
.porNameCon .por .txt .chg label{ line-height: 30px; text-align: center; color:#fff;background-color: #FF5858; border-radius: 10px; display:inline-block;}
.porNameCon .por .txt .chg label:hover{ background-color: #FF2323;}
.porNameCon .por .txt p{ line-height: 30px; color:#f00;}
#imghead {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);}
.porNameCon .name{ margin-top: 30px;}
.porNameCon .name .in{ font-size:18px; }
.porNameCon .name .in input{ width:188px; height:20px; border:1px solid #ccc; padding:5px; color:#333; font-size: 18px;}
.porNameCon .name .keepBtn{ margin-top: 30px; margin-left: 183px;}
.porNameCon .name .keepBtn a{  width:70px; height:30px;line-height: 30px; background-color: #ff3800;color:#fff; font-size: 16px; text-align: center; display:block; border-radius: 2px;}

/*my-address.html*/
.addCon{ margin-top: 20px;}
.addCon em{ color:#f00; vertical-align: middle; margin:0 2px;}
.addCon .itemTit{ line-height: 26px; margin-left: 10px; }
.addCon .itemTit .sp1{font-size: 16px; color:#ef2c71; margin-right: 15px;}
.addCon .itemTit .sp2{ font-size: 14px;}
.addCon .itemCon{ margin-top: 20px; margin-left: 40px;}
.addCon .itemCon .item { margin-bottom: 20px;}
.addCon .itemCon .item .ti{ width:75px;line-height: 26px; display:inline-block; text-align: right;margin-right: 10px; display:inline-block; float:left;}
.addCon .itemCon .item input{ border: 1px solid #AFAFAF; padding: 3px;width: 342px;height: 18px;line-height: 18px;vertical-align: middle;font-size: 12px; display:inline-block;color:#333; outline: invert; }
.addCon .itemCon .item textarea{ display:inline-block;margin: 0;padding: 3px;width: 392px;height: 62px;border: 1px solid #AFAFAF; font-size: 12px;  display:inline-block; color:#333;}
.addCon .itemCon .item input:focus,.addCon .itemCon .item textarea:focus{ border-color: #F06332;}
.addCon .itemCon .item.phone input{ width:65px;}
.addCon .itemCon .item.phone i{ margin:4px;}
.addCon .itemCon .item .warn{ margin-left: 10px; color:#f00; line-height: 24px;}
.addCon .itemCon .setDefault{ padding-left: 76px;}
.addCon .itemCon .setDefault input,.addCon .itemCon .setDefault label{ vertical-align: middle; line-height: 26px; cursor: pointer;}
.addCon .itemCon .keepBtn{ margin-top: 10px; margin-left: 76px;}
.addCon .itemCon .keepBtn a{ width:70px; height:30px;line-height: 30px; background-color: #ff3800; color:#fff; font-size: 16px; text-align: center; display:block; border-radius: 2px;}
#distpicker{ display:inline-block; width:348px; line-height: 26px; border:1px solid #afafaf;}
.city-picker-input {position: absolute;}
.city-picker-span {position: relative;display: block;outline: 0;background-color: #fff;color: #ccc;cursor: pointer;}
.city-picker-span > .placeholder {color: #aaa; padding-left: 5px;}
.city-picker-span > .arrow { position: absolute; top: 50%;right: 8px;margin-top: -3px;width: 10px; height: 5px;background-position: -20px -135px;}
.city-picker-span.open > .arrow {background-position: -5px -135px;}
.city-picker-span > .title > span {color: #333; padding: 5px;border-radius: 3px;}
.city-picker-dropdown { position: absolute;width: 320px; left:-2px; top:28px;z-index: 100;display: none;min-width: 330px;}
.city-select-wrap {box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); }
.city-select-tab { border-bottom: 1px solid #ccc;background: #f0f0f0;font-size: 13px;}
.city-select-tab > a {display: inline-block;padding: 8px 22px;border-left: 1px solid #ccc;border-bottom: 1px solid transparent;color: #4D4D4D;text-align: center;outline: 0;text-decoration: none;cursor: pointer;font-size: 14px;margin-bottom: -1px;}
.city-select-tab > a.active { background: #fff;border-bottom: 1px solid #fff;color: #ef2c71;}
.city-select-tab > a:first-child {border-left: none;}
.city-select-tab > a:last-child.active {border-right: 1px solid #ccc;}
.city-select-content {min-height: 10px;background-color: #fff; padding:10px;}
.city-select {font-size: 13px;}
.city-select dl {line-height: 2;clear: both; margin: 0;}
.city-select dt { position: absolute;width: 40px;padding:0 2px;font-weight: 500;text-align:center;}
.city-select dd {margin-left: 0;line-height: 2;}
.city-select.province dd {margin-left: 50px;}
.city-select a { display: inline-block;padding: 0 10px;outline: 0; text-decoration: none;white-space: nowrap; margin-right: 2px;text-decoration: none;color: #333;cursor: pointer;}
.city-select a:hover,
.city-select a:focus {background-color: #FBFBFB;border-radius: 2px;color:#ef2c71;}
.city-select a.active {background-color: #FF5792;border-radius: 2px;color: #fff; }
.addList{ margin-top: 50px; margin-left: 10px;}
.addList .caption{ margin-bottom: 20px; color:#ef2c71; font-size: 14px;}
.tabMain .tabHead{ line-height: 40px;  background-color: #E8E8E8; text-align: left; color:#000;}
.tabMain tr{border:1px solid #e7e7e7;}
.tabMain th,.tabMain td{ padding:0 5px;}
.tabMain .t01{ width:55px;}
.tabMain .t02{ width:130px;}
.tabMain .t03{ width:190px;}
.tabMain .t04{ width:50px;}
.tabMain .t05{ width:120px;}
.tabMain .t06{ width:92px;}
.tabMain .t07{ width:93px;}
.tabMain td{ height:49px;}
.tabMain td a{ color:#F40;}
.tabMain td a:hover{ text-decoration: underline; color:#F00;}
.tabMain .tabCent.hover{ background-color: #f2f2f2;}
.tabMain .tabCent .status span{ padding:2px 5px;  border:1px solid transparent; border-radius: 2px; cursor:pointer;}
.tabMain .tabCent .status{ opacity:0;}
.tabMain .tabCent.hover .status{ opacity:1;}
.tabMain .tabCent .status span{ border-color:#ef2c71; color:#ef2c71; background-color: #FFD2E2;}
.tabMain .tabCent.default .status{ opacity:1;}
.tabMain .tabCent.hover .status span{background-color: #ef2c71; color:#fff;}

/*my-chgPwd.html*/
.pwdCon{overflow:hidden;}
.pwdCon .item{ margin-bottom: 10px;}
.pwdCon .item input{ width:308px; height:18px; padding:10px; border:1px solid #AFAFAF;}
.pwdCon .item .warn{ color:#f00; margin-left: 20px;}
.pwdCon .confirm{ margin-left: 260px; margin-top: 15px;}
.pwdCon .confirm a{ padding:5px 13px; color:#fff; background-color: #ea2b6f; display:inline-block; border-radius: 14px; }

/*my-feedBack.html*/
.feedCon{overflow:hidden;}
.feedCon .item{ position:relative; width:550px;}
.feedCon .item textarea{ padding:15px 15px 40px; width:518px; height:198px; border:1px solid #AFAFAF; color:#404040;}
.feedCon .item span{ position:absolute; right:15px; bottom:15px;}
.feedCon .sub{ margin-top: 20px; margin-left: 486px;}
.feedCon .sub a{padding:6px 20px; color:#fff; background-color: #ea2b6f; display:inline-block; border-radius: 14px; }

/*my-evaluation.html*/
.evlCon{ overflow:hidden; height:520px;}
.evlCon .conL{ width:200px; height:100%;}
.evlCon .conL .hd .tit{ height:50px; line-height: 50px; background-color: #007dd2; color:#fff; font-size: 20px; text-align: center;}
.evlCon .conL .bd{ padding:30px;border: 1px solid #e3e5e5; border-top:0; border-right: 0; height:409px;} 
.evlCon .conL .bd .pic{ width:110px; height:110px; margin:0 auto;}
.evlCon .conL .bd .txt{ margin-top: 25px;}
.evlCon .conL .bd .txt p{ line-height: 22px;}
.evlCon .conR{ width:898px; height:518px; border: 1px solid #e3e5e5;}
.evlCon .conR .rIn{ padding:55px;}
.evlCon .conR .rIn .tit{ font-size: 20px; float:left; margin-top: 12px; margin-right: 10px;}
.evlCon .conR .rIn .stars { overflow:hidden;}
.evlCon .conR .rIn .stars ul{ overflow:hidden;float:left;}
.evlCon .conR .rIn .stars li{width:43px;height:43px; background:url(../img/img-my/star.png) no-repeat 0 0; float:left; cursor:pointer; margin-right: 14px;}
.evlCon .conR .rIn .stars li.cur{ background-position:0 -50px; }
.evlCon .conR .rIn .stars p{float:left; margin-top: 10px; margin-left:10px;font-size: 20px; color:#f40; }
.evlCon .conR .rIn .inp{ margin-top: 30px; overflow:hidden; position:relative;}
.evlCon .conR .rIn .inp textarea{ float:left; width:760px; height:140px; padding:10px 10px 30px; border:1px solid #ccc; margin-top: 10px; font-size: 14px; color:#333;}
.evlCon .conR .rIn .inp .bdTxt {position:absolute; right:15px; bottom:10px;}
.evlCon .conR .rIn .subBtn{ width:115px; margin-top: 30px; float:right;}
.evlCon .conR .rIn .subBtn input{ width:115px; height:40px;line-height: 40px;text-align:center;color:#fff;background-color:#eb4f38;border-radius:6px; font-size: 14px; cursor:pointer;}

/*my-sucEval.html*/
.evl{ margin-top: 40px; overflow:hidden;}
.evl .txtTip i{ width:40px; height:40px; background-position: -5px -375px; vertical-align:top;}
.evl .txtTip span{ font-size: 30px; color:#000; padding-left: 15px;}
.evl .txtTip p{ margin-left: 70px; margin-top: 30px;}
.evl .txtTip p a{ color:#fe7747; margin-right: 20px;}
.evl .txtTip p a:hover{ text-decoration: underline; color:#f00;}
.proLike li{ margin-bottom: 20px;}



